cfg:setTcpPort([port]);
cfg:setServerLogId([id]);
cfg:setScriptPath("[scriptpath]");
cfg:setReportPath("reports/");
cfg:setDataDatabase("1x015.xd.com", 3306, "tdyx", "8trsz2YeCHpUGfTJ", "tdyx_info_v[dataver]");
cfg:setObjectDatabase("[gshost].xd.com", 3306, "tdyx", "8trsz2YeCHpUGfTJ", "tdyx_[hoster]_s[servernum]");
cfg:setLogDatabase("[lshost].xd.com", 3306, "tdyx", "8trsz2YeCHpUGfTJ", "tdyx_houtai");
cfg:setCryptKeys("[key1]", "[key2]");
cfg:setAdminAllowedIP("10.0.8.0/24");
cfg:setWallow(true);
cfg:setOpening([year], [month], [day]);
